// @media screen and (min-width: 1024px) {
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  .wrapText {
    // width: 100%;
    margin-left: 6vw;
    margin-right: 4vw;
    .logo {
      width: 4vw;
    }
    .description {
      .title {
        color: #333333;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 4vw;
        margin: 1vw 0;
        margin-top: 0;
      }
      span {
        line-height: 160%;
        display: block;
        margin-bottom: 1vw;
        font-weight: 400;
        font-size: 1.1vw;
        color: #333333;
        text-align: justify;
      }
    }
    .experience {
      display: flex;
      margin-top: 4vw;

      .expand {
        margin-right: 100px;
        h2 {
          height: 3.5vw;
          color: #090909;
          font-size: 2.5vw;
          font-family: "Poppins";
          font-style: normal;
          margin-bottom: 0;
          font-weight: 700;

          span {
            color: #0094ff;
          }
        }
        .overviewContent {
          font-size: 1.5vw;
          font-weight: 500;
        }
      }
    }
  }
  .wrapImage {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    top: 2vw;

    .leftImg {
      left: 0vw;
      position: relative;
      &:hover {
        transform: scale(1.16);
        z-index: 1;
      }
    }
    .centerImg {
      position: relative;
      left: -3vw;
      .topImage {
        position: relative;

        &:hover {
          transform: scale(1.16);
          z-index: 1;
        }
      }
      .botImage {
        margin-top: -11%;
        position: relative;
        &:hover {
          transform: scale(1.16);
          z-index: 1;
        }
      }
    }
    .rightImg {
      left: -6vw;
      position: relative;
      &:hover {
        transform: scale(1.16);
      }
    }
  }
}
// }
@media screen and (max-width: 578px) {
  .container {
    // border: red solid 1px;
    .wrapText {
      .logo {
      }
      .description {
        .title {
          font-size: 9vw;
          text-align: center;
        }
        span {
          font-size: 4vw;
          text-align: left;
        }
      }
      .experience {
        .expand {
          margin-right: 40px;
          h2 {
            height: 10.5vw;
            font-size: 8vw;
            span {
            }
          }
          .overviewContent {
            font-size: 5.5vw;
          }
        }
      }
    }
    .wrapImage {
      .leftImg {
        left: 2.5vw;
      }
      .centerImg {
        .topImage {
        }
        .botImage {
        }
      }
      .rightImg {
        left: -8.5vw;
      }
    }
  }
}
