 
  .container {
    width: 100%;
    height: 100%;

    .contact {
      background-color: #008df3;
      position: absolute;
      justify-content: center;
      width: 88%;
      height: 60%;
      margin: 0 6%;
      z-index: 2;
      top: 12%;
      .triangle {
        width: 0;
        height: 0;
        border-right: 0vw solid transparent;
        border-left: 9vw solid transparent;
        border-top: 6vw solid #fffafa;
        z-index: 1;
        position: absolute;
        right: -1vw;
        top: -1vw;
      }
      .content {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        color: #fffafa;
        h1 {
          position: absolute;
          top: 5%;
          font-size: 3vw;
          font-weight: 600;
        }
        .content1 {
          position: absolute;
          top: 36%;
          width: 57vw;
          font-size: 1.5vw;
          line-height: 2vw;
          text-align: center;
          color: #ffffff;
          font-weight: normal;
        }
        .content2 {
          position: absolute;
          top: 53%;
          font-weight: 400;
          font-size: 2vw;
          line-height: 90px;
          span {
            overflow: visible !important;
            width: 3vw !important;
          }
          img {
            top: 1vw !important;
            width: 2vw !important;
          }
          a {
            text-decoration: underline;
          }
        }
        .buttonContact {
          position: relative;
          top: 75%;
          left: 1%;
          button {
            min-width: 10vw;
            // min-height: 7vh;
            font-family: "Nunito", sans-serif;
            font-size: 1vw;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            font-weight: 700;
            color: #ffffff;
            background: #4d8acf;
            background: linear-gradient(90deg, rgb(0, 189, 255) 0%, rgb(0, 189, 255) 100%);
            border: none;
            border-radius: 1000px;
            box-shadow: 10px 10px 24px rgb(25 91 153 / 64%);
            transition: all 0.3s ease-in-out 0s;
            cursor: pointer;
            outline: none;
            position: relative;
            padding: 10px;
          }
          button::before {
            content: "";
            border-radius: 1000px;
            min-width: calc(10vw + 0.5vw);
            min-height: calc(7vh + 0.5vh);
            border: 0.2vw solid #98e4ff;
            box-shadow: 0 0 5px rgba(0, 232, 255, 1);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all 0.3s ease-in-out 0s;
            z-index: -1;
          }

          button:hover::before {
            opacity: 1;
          }

          button::after {
            content: "";
            width: 30px;
            height: 30px;
            border-radius: 1000px;
            border: 0.2vw solid #ffffff;
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: ring 1.5s infinite;
          }
          @keyframes ring {
            0% {
              width: 10vw;
              height: 7vh;
              opacity: 0.5;
            }
            100% {
              width: 13vw;
              height: 10vh;
              opacity: 0;
            }
          }

          button:hover::after {
            animation: none;
            display: none;
          }
        }
      }
      .mask {
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 43%;
        background-image: url("../../../../../public/maskContact.svg");
      }
    }

    .footer {
      background: black;
      height: 50%;
      position: absolute;
      bottom: 0;
      width: 100%;

      .mainContent {
        display: flex;
        width: 100%;
        justify-content: center;
        top: 60%;
        position: absolute;
        color: #fffafa;
        .left {
          width: 30%;
          margin-left: 6%;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 1vw;
          .icons {
            display: flex;
            justify-content: space-evenly;
            width: 16vw;
            left: -2.5vw;
            position: relative;
            button {
              &:hover {
                filter: invert(48%) sepia(79%) saturate(2476%)
                  hue-rotate(190deg) brightness(118%) contrast(119%);
              }
              svg,
              span {
                width: 2vw !important;
                height: 2vw !important;
              }
            }
          }
        }
        .right {
          display: flex;
          margin-right: 3%;
          justify-content: space-evenly;
          width: 70%;
          button {
            font-family: "THICCCBOI";
            font-style: normal;
            font-weight: 600;
            font-size: 1vw;
            text-transform: uppercase;
            color: #fffafa;
            padding: 1vw;
            height: 50%;

            &:hover {
              background: linear-gradient(
                209.47deg,
                #396afc 38.93%,
                #0094ff 81.95%
              );
            }
          }
        }
      }
      .bottomText {
        color: #fffafa;

        position: absolute;
        right: 6%;
        bottom: 0;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 1vw;
        line-height: 90px;
      }
    }
    .maskFooter {
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 95%;
      background-image: url("../../../../../public/maskFooter.svg");
    }
  }

// @media screen and (max-width: 1023px) {
//   .container {
//     background: black;
//     width: 100%;
//     height: 27vw;
//     position: relative;
//     top: 102vw;
//     .mainContent {
//       display: flex;
//       width: 100%;
//       justify-content: flex-start;
//       top: 60%;
//       position: absolute;
//       color: #fffafa;
//       height: 10vw;
//       .left {
//         margin-left: 6%;
//         font-family: "Poppins";
//         font-style: normal;
//         font-weight: 400;
//         font-size: 1vw;
//         position: absolute;
//         height: 5vw;
//         div {
//           margin-bottom: 3vw;
//         }
//         .icons {
//           display: flex;
//           justify-content: space-between;
//           width: 16vw;
//           left: -1vw;
//           position: absolute;
//           top: 0;
//           height: 6vw;
//           button {
//             &:hover {
//               filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(190deg)
//                 brightness(118%) contrast(119%);
//             }
//             padding: 1vw;
//             svg,
//             span {
//               width: 2vw !important;
//             }
//           }
//         }
//       }
//       .right {
//         display: flex;
//         justify-content: space-evenly;
//         position: absolute;
//         right: 5vw;
//         height: 2vw;
//         button {
//           font-family: "THICCCBOI";
//           font-style: normal;
//           font-weight: 600;
//           font-size: 1vw;
//           text-transform: uppercase;
//           color: #fffafa;
//           padding: 1vw;
//           height: 50%;
//           min-width: 1px;

//           &:hover {
//             background: linear-gradient(
//               209.47deg,
//               #396afc 38.93%,
//               #0094ff 81.95%
//             );
//           }
//         }
//       }
//     }
//     .bottomText {
//       color: white;

//       position: absolute;
//       right: 6%;
//       bottom: 0;
//       font-family: "Poppins";
//       font-style: normal;
//       font-weight: 400;
//       font-size: 1vw;
//       line-height: 3vw;
//     }
//     .contact {
//       background-color: #008df3;
//       z-index: 2;
//       position: absolute;
//       justify-content: center;
//       width: 88%;
//       height: 100%;
//       top: -55%;
//       margin: 0 6%;
//       .triangle {
//         width: 0;
//         height: 0;
//         border-right: 0vw solid transparent;
//         border-left: 9vw solid transparent;
//         border-top: 6vw solid white;
//         z-index: 1;
//         position: absolute;
//         right: 0;
//       }
//       .content {
//         position: absolute;
//         top: 0;
//         display: flex;
//         flex-direction: column;
//         // justify-content: space-evenly;
//         width: 100%;
//         height: 100%;
//         align-items: center;
//         color: white;

//         h1 {
//           position: absolute;
//           top: 5%;
//           font-size: 3vw;
//           font-weight: 600;
//         }
//         .content1 {
//           position: absolute;
//           top: 36%;
//           width: 57vw;
//           font-size: 1.5vw;
//           text-align: center;
//           color: #ffffff;
//         }
//         .content2 {
//           position: absolute;
//           top: 59%;
//           font-weight: 400;
//           font-size: 2vw;
//           span {
//             overflow: visible !important;
//             width: 3vw !important;
//           }
//           img {
//             top: 1vw !important;
//             width: 2vw !important;
//           }
//           a {
//             text-decoration: underline;
//           }
//         }
//       }
//       .buttonContact {
//         button {
//           width: 14vw;
//           height: 5vw;
//           color: black;
//           background: #ffffff;
//           font-weight: 600;
//           font-size: 1vw;
//           text-transform: none;
//           font-family: "Poppins";
//           font-style: normal;
//           border: 3px solid rgba(64, 161, 255, 1);
//           position: absolute;
//           top: 75%;
//           left: 43%;
//           min-width: 1px;
//           width: 9vw;
//           min-height: 1px;
//           height: 4vw;
//           padding: 0;
//         }
//       }
//       .iconJumpUp {
//         animation: blinker 2s linear infinite;
//         position: absolute;
//         bottom: 0vw;
//         right: -5vw;
//         button {
//           svg,
//           span {
//             width: 3vw !important;
//             height: 3vw !important;
//           }
//         }
//         @keyframes blinker {
//           50% {
//             opacity: 0;
//           }
//         }
//       }
//     }
//     .mask {
//       background-repeat: no-repeat;
//       background-position: right bottom;
//       background-size: 43%;
//       background-image: url("../../../../../public/maskContact.svg");
//     }
//   }
//   .maskFooter {
//     background-repeat: no-repeat;
//     background-position: left bottom;
//     background-size: 95%;
//     background-image: url("../../../../../public/maskFooter.svg");
//   }
// }
