@media screen and (min-width: 1024px) {
  .container {
    position: relative;
    top: 76vw;
    .mainContent {
      display: flex;
      width: 100%;
      justify-content: center;
      top: 60%;
      position: absolute;
      color: white;
      .left {
        width: 30%;
        margin-left: 6%;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 1vw;
        .icons {
          display: flex;
          justify-content: space-between;
          width: 16vw;
          left: -1vw;
          position: relative;
          button {
            svg,
            span {
              width: 2vw !important;
            }
          }
        }
      }
      .right {
        display: flex;
        margin-right: 3%;
        justify-content: space-evenly;
        width: 70%;
        button {
          font-family: "THICCCBOI";
          font-style: normal;
          font-weight: 600;
          font-size: 1vw;
          text-transform: uppercase;
          color: white;
          padding: 1vw;
          height: 50%;

          &:hover {
            background: linear-gradient(
              209.47deg,
              #396afc 38.93%,
              #0094ff 81.95%
            );
          }
        }
      }
    }
    .bottomText {
      color: white;

      position: absolute;
      right: 6%;
      bottom: 0;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 1vw;
      line-height: 90px;
    }
    .contact {
      background-color: #008df3;
      position: absolute;
      justify-content: center;
      width: 88%;
      height:100%;
      top: -55%;
      margin: 0 6%;
      .triangle{
        width: 0;
        height: 0;
        border-right: 0vw solid transparent;
        border-left: 9vw solid transparent;
        border-top: 6vw solid white;
        z-index: 1;
        position: absolute;
        right: 0;
      }
      .mask{
        position: absolute;
        right: 0;
        bottom: -0.3vw;
        width: 37vw;
      }
      .content {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        // justify-content: space-evenly;
        width: 100%;
        height: 100%;
        align-items: center;
        color: white;
        h1 {
          position: absolute;
          top: 5%;
          font-size: 3vw;
          font-weight: 600;
        }
        .content1 {
          position: absolute;
          top: 36%;
          width: 57vw;
          font-size: 1.5vw;
          line-height: 2vw;
          text-align: center;
          color: #ffffff;
        }
        .content2 {
          position: absolute;
          top: 53%;
          font-weight: 400;
          font-size: 2vw;
          line-height: 90px;
          span {
            overflow: visible !important;
            width: 3vw !important;
          }
          img {
            top: 1vw !important;
            width: 2vw !important;
          }
          a {
            text-decoration: underline;
          }
        }
      }
      .buttonContact {
        button {
          width: 11vw;
          height: 4vw;
          color: black;
          background: #ffffff;
          font-weight: 600;
          font-size: 1vw;
          text-transform: none;
          font-family: "Poppins";
          font-style: normal;
          border: 3px solid rgba(64, 161, 255, 1);
          position: absolute;
          top: 75%;
          left: 43%;
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .container {
    position: relative;
    top: 76vw;
    .mainContent {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      top: 60%;
      position: absolute;
      color: white;
      .left {
        // width: 100%;
        margin-left: 6%;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 1vw;
        .icons {
          display: flex;
          justify-content: space-between;
          width: 16vw;
          left: -1vw;
          position: relative;
          top: -3vw;
          button {
            padding: 1vw;
            svg,
            span {
              width: 2vw !important;
            }
          }
        }
      }
      .right {
        display: flex;
        justify-content: space-evenly;
        // width: 100%;
        position: relative;
        top: -3vw;
        right: -9vw;
        // height: 1vw !important;
        button {
          font-family: "THICCCBOI";
          font-style: normal;
          font-weight: 600;
          font-size: 1vw;
          text-transform: uppercase;
          color: white;
          padding: 1vw;
          height: 50%;
          min-width: 1px;

          &:hover {
            background: linear-gradient(
              209.47deg,
              #396afc 38.93%,
              #0094ff 81.95%
            );
          }
        }
      }
    }
    .bottomText {
      color: white;

      position: absolute;
      right: 6%;
      bottom: 0;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 1vw;
      line-height: 3vw;
    }
    .contact {
      background-color: #008df3;

      position: absolute;
      justify-content: center;
      width: 88%;
      height: 100%;
      top: -68%;
      margin: 0 6%;
      .triangle{
        width: 0;
        height: 0;
        border-right: 0vw solid transparent;
        border-left: 9vw solid transparent;
        border-top: 6vw solid white;
        z-index: 1;
        position: absolute;
        right: 0;
      }
      .mask{
        position: absolute;
        right: 0;
        bottom: -1.5vw;
        width: 37vw;
      }
      .content {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        // justify-content: space-evenly;
        width: 100%;
        height: 100%;
        align-items: center;
        color: white;
        h1 {
          position: absolute;
          top: 5%;
          font-size: 3vw;
          font-weight: 600;
        }
        .content1 {
          position: absolute;
          top: 36%;
          width: 57vw;
          font-size: 1.5vw;
          text-align: center;
          color: #ffffff;
        }
        .content2 {
          position: absolute;
          top: 59%;
          font-weight: 400;
          font-size: 2vw;
          span {
            overflow: visible !important;
            width: 3vw !important;
          }
          img {
            top: 1vw !important;
            width: 2vw !important;
          }
          a {
            text-decoration: underline;
          }
        }
      }
      .buttonContact {
        button {
          width: 14vw;
          height: 5vw;
          color: black;
          background: #ffffff;
          font-weight: 600;
          font-size: 1vw;
          text-transform: none;
          font-family: "Poppins";
          font-style: normal;
          border: 3px solid rgba(64, 161, 255, 1);
          position: absolute;
          top: 75%;
          left: 43%;
          min-width: 1px;
          width: 1vw;
        }
      }
    }
  }
}
