@media screen and (min-width: 1024px) {
  .container {
    border: solid 1px red;
    top: 61vw;
    position: absolute;
    width: 100%;
    .header {
      position: relative;
      width: 100%;
      top: -26%;
      padding-left: 5%;

      h1 {
        font-weight: 600;
        font-size: 4vw;
        color: #333333;
        margin-top: 3%;
      }
    }
    .body {
      padding: 0 5%;
      .tabClassDynamic {
        background: #f1f9ff;
        width: 19vw;
        font-weight: 700;
        font-size: 1.2vw;
        color: #0094ff;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin-right: 2%;
      }
      .tabClassStatic {
        font-weight: 500;
        font-size: 1vw;
        font-family: "Poppins";
        font-style: normal;
        text-align: start;
        color: #9f9f9f;
        width: 19vw;

        span {
          overflow: visible !important;
          img {
            margin-right: 37% !important;
          }
        }
      }
    }
  }
}
.case {
  .content {
    margin-left: 5.5%;
    margin-top: 2%;
    h1 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 2vw;
      color: #090909;
    }
    ul {
      list-style: none;
      padding: 0px 0px;
      li {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 1.5vw;
        line-height: 243%;
        color: #090909;

        span {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 2vw;
          line-height: 200%;
          color: #0094ff;
        }
      }
      li:before {
        content: "\2022";
        color: #0094ff;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        font-size: 170%;
      }
     
    }
   
    .content2 {
      margin-top: 4%;
    }
  }
  .diagram {
    position: relative;
    margin-left: 5.5%;
    margin-top: 4%;

    span {
      font-weight: 600;
    }
  }
}
