.container {
  // max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  .highLight{
  }
  .overview {
    position: relative;
    top: 6vw;
  }
  .aiml {
    position: relative;
    top: 6vw;
  }
  .rpaProces {
    position: relative;
    top: 6vw;
  }
  .solutions {
  }
  .caseStudy {
  }
  .contact {
  }
}
