.container {
  // max-width: 1920px;
  margin: 0 auto;
  width: 100%;

  .highLight {
    position: relative;
  }
  .overview {
    position: relative;
    top: 6vw;
  }
  .aiml {
    position: relative;
    top: 6vw;
  }
  .process {
    position: relative;
    top: 6vw;
  }
  .solutions {
    position: relative;
    top: 6vw;
  }
  .caseStudy {
    top: 9vw;
    position: relative;
  }
  .contact {
    position: relative;
    top: 23vw;
  }
}
