@media screen and (min-width: 1024px) {
  .container {
    // border: solid 1px red;
    background: #fafafa;
    position: relative;
    top: 54vw;
    height: 70vw;
    // overflow: hidden;
    .triangle {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .triangle-left {
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-bottom: 90px solid transparent;
        border-left: 93vw solid ghostwhite;
      }

      .triangle-right {
        width: 0;
        height: 0;
        border-left: 6vw solid transparent;
        border-right: 0vw solid transparent;
        border-top: 10vw solid ghostwhite;
        z-index: 1;
      }
    }
    .AIMLContent {
      position: relative;
      .head {
        text-align: center;
        width: 40%;
        margin: 0% auto;
        span {
          width: 5vw !important;
        }
        .title {
          color: #333333;
          font-size: 3.5vw;
            line-height: 4vw !important;
            margin-top: 2vw !important;
         
        }
      }
      .body {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          width: 53vw !important;
          height: 37vw !important;
        }
        .experience {
          h2 {
            font-size: 2.5vw;
            align-items: center;
            color: #090909;

            .span {
              color: #0094ff;
            }
            .overviewContent {
              font-size: 20px;
              font-weight: 500;
            }
          }
          .expandTop10 {
            align-items: center;
            margin-top: 2%;
          }
          .expand400 {
            margin-left: 5%;
            margin-top: 4%;
            width: 100%;
          }
          .expand10Years {
            margin-top: 1%;
          }
        }
      }
    }
    .maskTop {
      position: absolute;
      top: 0.7vw;
      right: 0vw;
      overflow: hidden;
      width: 20vw;
    }
    .maskBottom {
      position: absolute;
      bottom: -11vw;
      left: -1.5%;
      width: 38vw;
    }
  }
}
@media screen and (max-width: 1023px) {
  .container {
    background: #fafafa;
    position: relative;
    top: 69vw;
    // overflow: hidden;

    .triangle {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .triangle-left {
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-bottom: 6vw solid transparent;
        border-left: 93vw solid ghostwhite;
      }

      .triangle-right {
        width: 0;
        height: 0;
        border-left: 6vw solid transparent;
        border-right: 0vw solid transparent;
        border-top: 10vw solid ghostwhite;
        z-index: 1;
      }
    }
    .AIMLContent {
      position: relative;
      .head {
        text-align: center;
        margin: 0% auto;
        span {
          width: 5vw !important;
        }
        .title {
          color: #333333;
          font-size: 3.5vw;
          width: 45%;
          margin: auto;
        }
      }
      .body {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 4vw;
        span {
          width: 53vw !important;
          height: 37vw !important;
        }
        .experience {
          h2 {
            font-size: 2.5vw;
            align-items: center;
            color: #090909;

            .span {
              color: #0094ff;
              font-size: 3vw;
            }
            .overviewContent {
              font-weight: 500;
              font-size: 1.5vw;
            }
          }
          .expandTop10 {
            align-items: center;
          }
          .expand400 {
            margin-left: 5%;
            width: 100%;
          }
          .expand10Years {
            h2 {
              font-size: 3vw;
            }
          }
        }
      }
    }
    .maskTop {
      position: absolute;
      top: 1.5vw;
      right: 1vw;
      width: 18vw;
      span {
        width: 20vw !important;
        top: -1vw;
        right: 0vw;
      }
    }
    .maskBottom {
      position: absolute;
      bottom: -20.5%;
      left: -1.5%;
      width: 45vw;
    }
  }
}
