@media screen and (min-width: 1024px) {
  .solutions {
    // position: absolute;
    // height: 1549px;
    // width: 100%;
    // top: 450%;
    background: url(/_next/static/media/backgroundSolutions.aa8e836e.svg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 108vw;
    top: 58vw;
    border: 1px solid pink;
    .imgBackground {
      position: absolute;
      top: -56.5%;
      width: 100%;
      span {
        overflow: visible !important;
        width: 100% !important;
      }
      img {
        top: 17% !important;
      }
    }
    .title {
      position: relative;
      bottom: -51vw;
      margin-left: 6vw;
      span {
        width: 4vw;
      }
      h1 {
        width: 9em;
        font-weight: 600;
        font-size: 4vw;
        color: #ffffff;
        line-height: 5vw;
        margin-top: 1vw;
      }
    }
    .content {
      display: flex;
      justify-content: center;
      position: relative;
      justify-content: center;
      top: 53vw;
      .item1,
      .item2,
      .item3,
      .item4 {
        position: relative;
        background: #ffffff;
        box-shadow: 0px 100px 80px rgb(207 207 207 / 7%),
          0px 12.5216px 10.0172px rgb(207 207 207 / 4%);
        width: 20vw;
        height: 30vw;
        margin-right: 2%;
        .itemHead {
          margin-left: 1.5vw;
          margin-top: 1.5vw;
          h1 {
            font-size: 1.5vw;
            margin: 0;
          }
        }
        .itemBody {
          position: relative;
          left: 4%;
          width: 18vw;

          ul {
            list-style: none;
            padding-left: 2vw;
            li {
              font-weight: 400;
              font-size: 1vw;
              margin: 5% 0;
            }
            li:before {
              content: "\2022";
              color: #0094ff;
              font-weight: bold;
              display: inline-block;
              width: 1.5em;
              left: 0.5vw;
              width: 15vw;
              position: absolute;
            }
          }
        }
      }
    
    }
    .maskBottom {
      position: absolute;
      bottom: -21vw;
      width: 50vw;
      height: 50vw;
      left: 50vw;
    }
  }
}
