.container-fluid {
  .wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    .imgBackground {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .menuBar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100px;
      position: absolute;
      top: 0;
      .navigate {
        display: flex;
        justify-content: space-evenly;
        width: 56%;
        position: relative;
        left: 1%;

        button {
          color: aliceblue;
          text-transform: none;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          padding: 0 1.5rem;
          left: 2%;
          &:hover {
            background-color: #778fd4;
          }
        }
      }
      .buttonContact {
        button {
          width: 180px;
          height: 58px;
          color: black;
          background: #ffffff;
          font-weight: 600;
          font-size: 20px;
          text-transform: none;
          font-family: "Poppins";
          font-style: normal;
          border: 3px solid rgba(64, 161, 255, 1);
          right: 10%;
        }
      }
    }
    .content {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      .left {
        width: 100%;
        position: relative;
        top: 10%;
        left: 13%;
      }
      .right {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        top: 18%;
        padding-left: 5%;
        .title {
          position: absolute;
          font-weight: 700;
          font-size: 72px;
          color: #ffffff;
          margin-left: -3%;
        }
        .body {
          position: absolute;
          color: #ffffff;
          font-weight: 500;
          font-size: 26px;
          top: 10.5%;
        }
      }
    }

    .card {
      display: flex;
      position: absolute;
      bottom: 4%;
      padding: 0 9%;
      width: 100%;
      .cardItem {
        position: relative;
        margin: 0 0.8%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 194px;
        background: #ffffff;
        box-shadow: 0px 100px 80px rgba(62, 116, 255, 0.07),
          0px 30.1471px 24.1177px rgba(62, 116, 255, 0.0456112),
          0px 12.5216px 10.0172px rgba(62, 116, 255, 0.035),
          0px 4.5288px 3.62304px rgba(62, 116, 255, 0.0243888);
      }
      .cardIcon {
        position: absolute;
        left: 9%;
      }
      .cardContent {
        position: absolute;
        top: 9%;
        left: 34%;
        width: 56%;

        h1 {
          margin-bottom: 8%;
          font-weight: 700;
          font-size: 64px;
          color: #0094ff;
        }
        p {
          font-weight: 500;
          font-size: 18px;
          color: #333333;
          position: absolute;
          top: 60%;
        }
      }
    }
  }
}
