.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 115%;
  width: 100%;
  .wrapText {
    width: 720px;
    margin-top: -3%;
    margin-right: -8%;
  }
  .wrapImage {
    display: flex;
    flex-direction: row;
    width: 852px;
    height: 622px;
    .icons {
      position: relative;
      width: 100%;
      height: 100%;
      .blueprismImage {
        position: absolute;
        z-index: 1;
        right: -15px;
        top: 165px;
      }
      .UIpathPowerAuto {
        position: absolute;
        width: 324px;
        left: 280px;
        .topImage {
          margin-top: 3%;
        }
        .botImage {
          margin-top: -8%;
        }
      }
      .automateImage {
        position: absolute;
        top: 165px;
        left: 15px;
      }
      .UIpathPowerAuto {
        position: absolute;
        width: 324px;
        left: 280px;
      }
    }
  }

  .description {
    .title {
      color: #333333;
    }
    span {
      line-height: 160%;
      display: block;
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 20px;
      color: #333333;
    }
  }

  .experience {
    display: flex;
    .expand {
      margin-right: 100px;
      h2 {
        height: 80px;
        width: 181px;
        color: #090909;
        margin-top: 16px;
        span {
          color: #0094ff;
        }
      }
      .overviewContent {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}
