html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  background: #fffafa;

  /* overflow: hidden; */
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.hideMe {
  opacity: 0;
}
#masterWrap {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#panelWrap {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  position: relative;
}

.dot {
  width: 12px;
  height: 12px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
  position: relative;
  background-color: rgb(64, 161, 255, 1);
  margin: 12px;
  cursor: pointer;
}

.dots {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 16px;
}

.toolTips {
  position: absolute;
  top: 50%;
  right: 50px;
  z-index: 1000;
  .toolTip {
    background-color: #0094ff;
    color: white;
    width: 5vw;
    height: 1.5vw;
    border-radius: 5px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
@media (hover: none) {
  .toolTips,
  p.navDotInfo {
    visibility: hidden;
  }
}
.toolTip {
  opacity: 0;
  text-align: right;
  height: 12px;
  margin: 12px 0;
  line-height: 12px;
  left: 10px;
  top: 10px;
}

p.navDotInfo {
  position: absolute;
  bottom: 5px;
  z-index: 225;
  width: 100%;
  text-align: center;
  max-width: 5000px;
  font-size: 0.875em;
}

.twitterFollow {
  padding: 16px;
  margin-top: 16px;
  cursor: pointer;
  border-radius: 500px;
  text-decoration: none;
  border: solid 2px white;
  color: white;
}

.twitterFollow:hover {
  background: white;
  color: #000;
}

.iconWrap {
  width: 300px;
  margin-top: 30px;
}

@media (min-width: 700px) {
  .iconWrap {
    width: 600px;
  }
}
.icon {
  text-align: center;
  width: 150px;
  float: left;
}

.icon svg {
  width: 50px;
  height: 50px;
  margin: 6px 0;
  overflow: visible;
}

@media (max-width: 480px) {
  section img {
    max-width: 200px;
  }
  p {
    max-width: 180px;
  }
}
