html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
}

h1 {
  margin: 0;
  font-weight: 600;
  font-size: 72px;
  line-height: 108px;
}

h2 {
  height: 96px;
  font-weight: 600;
  font-size: 48px;
  line-height: 200%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
